@import url(style.css);

/* MANAGED BY CLARENCE */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
}

.nav__title {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.nav__logo {
  font-size: 1rem;
}

.bx-menu,
.bxs-report,
.bx-user-circle {
  font-size: 1.25rem;
}

.bx-user-circle,
.bx-menu {
  cursor: pointer;
}

.nav__logo,
.bxs-report {
  color: var(--accent);
  font-weight: 500;
}

.nav__menu {
  height: 21px;
}

.nav__desktop-links,
.nav__button {
  display: none;
}

.nav__mobile-links {
  background: var(--transparentGrey);
  position: absolute;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
  padding: 1.75rem 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px 0 var(--transparentGrey);
  border: 1px solid black;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.nav__mobile-links.show {
  opacity: 1;
  visibility: visible;
}

.nav__mobile-links a {
  color: black;
  font-weight: 500;
  font-size: 0.85rem;
  transition: 0.3s ease-in-out;
}

.nav__mobile-links a:hover {
  color: var(--accent);
}

@media screen and (min-width: 576px) {
  .nav__desktop-links {
    display: flex;
    gap: 2rem;
  }

  .nav__link {
    color: black;
    position: relative;
    font-weight: 500;
    font-size: 0.85rem;
  }

  .nav__button {
    display: block;
    padding: 0.65rem 1.25rem;
    background: transparent;
    font-family: var(--font);
    border: 1px solid var(--accent);
    border-radius: 0.25rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
  }

  .nav__button:hover {
    background: var(--accent);
    color: var(--White);
    cursor: pointer;
  }

  .nav__menu,
  .nav__mobile-links {
    display: none;
  }

  .nav__link::before {
    content: "";
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: var(--accent);
    border-radius: 0.25rem;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
  }

  .nav__link:hover::before {
    opacity: 1;
    visibility: visible;
  }
}
