@import url(style.css);

.members__container {
  margin-inline: 1.5rem;
  margin-top: 4rem;
}

.members__recently-viewed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.members__recently-viewed p {
  font-size: 0.85rem;
  font-weight: 500;
}

.members__recently-viewed button {
  padding: 0.65rem 1rem;
  background: transparent;
  font-family: var(--font);
  font-size: 0.75rem;
  font-weight: 500;
  border: 1px solid var(--accent);
  border-radius: 0.25rem;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.members__recently-viewed button:hover {
  background: var(--accent);
  color: var(--White);
}

.create__new-portfolio-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.create__new-portfolio-container.show {
  opacity: 1;
  visibility: visible;
}

.create__new-portfolio-content {
  margin-inline: 1.5rem;
  background: var(--White);
  padding: 2rem;
  border-radius: 0.85rem;
  width: 100%;
  max-width: 500px;
}

.form__inputs {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}

.form__inputs > .form__input label {
  font-size: 0.8rem;
  font-weight: 500;
}

.form__input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkboxes {
  display: inline-flex;
  gap: 0.5rem;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

input[type="text"],
textarea {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  font-family: var(--font);
  font-size: 0.75rem;
  font-weight: 500;
  border: 1px solid black;
  resize: none;
}

.create-portfolio {
  padding: 0.7rem 0;
  font-family: var(--font);
  font-size: 0.75rem;
  font-weight: 500;
  border: 1px solid var(--accent);
  border-radius: 0.25rem;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  background: transparent;
}

.create-portfolio:hover {
  background: var(--accent);
  color: var(--White);
}

.retrieved__portfolio {
  display: grid;
  gap: 1.5rem;
  margin-top: 2rem;
}

.no__portfolio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 500;
}

.portfolio__item {
  width: 100%;
  /* max-width: 350px; */
  border: 1px solid var(--accent);
  padding: 1.5rem;
  border-radius: 0.85rem;
  position: relative;
}

.portfolio__item img {
  width: 100%;
  border-radius: 0.85rem;
  height: 175px;
  object-fit: cover;
}

.portfolio__item h3 {
  margin: 0.85rem 0 3.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  max-width: 300px;
}

.portfolio__buttons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 3rem);
  gap: 0.5rem;
  margin-top: 1rem;
  position: absolute;
  bottom: 1.25rem;
}

.view-portfolio,
.edit-portfolio,
.delete-portfolio {
  flex: 1;
  padding: 0.65rem;
  font-family: var(--font);
  border-radius: 0.25rem;
}

.portfolio__details-overlay,
.edit__portfolio-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1;
}

.portfolio__details-overlay.show,
.edit__portfolio-container.show {
  opacity: 1;
  visibility: visible;
}

.portfolio__details,
.edit__portfolio-content {
  width: 100%;
  max-width: 500px;
  margin-inline: 1.5rem;
  background: var(--White);
  padding: 2rem;
  border-radius: 0.85rem;
  display: grid;
  gap: 1.5rem;
}

.portfolio__details > div label {
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}

.portfolio__details > div label::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--accent);
  bottom: -0.25rem;
  left: 0;
  border-radius: 0.25rem;
}

.portfolio__details > div p {
  font-size: 0.85rem;
  margin-top: 1rem;
}

@media screen and (min-width: 576px) {
  .retrieved__portfolio {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .retrieved__portfolio {
    grid-template-columns: repeat(3, 1fr);
  }
}
